pre-commit
# email-validator==1.1.3
# flanker>=0.9.11
# redis
# git+https://github.com/telesoho/dnsq.git
# pyOpenSSL==21.0.0
# line-bot-sdk
wheel
flake8
black
autoflake
# for ui test
# websocket-client
# pdfminer
# ShopifyAPI
